<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h2>Join the mailing list.</h2>
          <h3>
            Get the latest cyber security news here.
          </h3>
          <!--
          <span>
            <>p>login with social media</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"
              ><i class="fa fa-twitter" aria-hidden="true"></i> Login with
              Twitter</a
            >
          </span>
          -->
        </div>
      </div>

      <div class="right">
        <h5>Subscribe</h5>
        <p>
          Please enter your name and mailing address below to subscribe to our newsletter -
           (it takes less than a minute!)
        </p>
        <form action = "success" method = "post">
        <div class="inputs">
          <input type="text" id = "checkText" name="checkText" placeholder="name" />
          <input type="email" id = "checkText" name="checkText" placeholder="email address" />
          <br/>
        </div>
        <br />
        <br />

        <br />
        <input type="submit" class = "button" value=Submit>
      </div>
    </div>
  </body>
</html>
